@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  @page {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}
